/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.dashboard-pg .box-black-widget .inner p{
		font-size: 20px;
	}

}

@media (max-width: 1320px){

	body{ width: 100%; overflow-x: hidden; }
	body, html{ height: auto; }

}
@media (max-width: 1280px){

}

@media (max-width: 1160px){

}

/* Large desktop */
@media (max-width : 1135px){

	.container,
	.container.defaults{
		max-width: 100%; width: 100%;
		padding: 0 15px;
	}

	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
	}
	// .navbar{
	// 	margin: 0;
	// }
	// .navbar-default{
	// 	border: none;
	// 	border-radius: 0px;
	// }

}

@media (max-width : 1002px) { 
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	// .navbar{
	// 	margin: 0;
	// }
	// .navbar-toggle{
	// }


}

@media (max-width : 991px) { 

	// .navbar-default {
	// 	background-color: #000;
	// 	border-color: #000;
	// }
	// .navbar-default .navbar-brand{
	// 	margin: 0px;
	// }

}


@media (max-width: 992px) {

 //    .navbar-header {
 //        float: none;
 //    }
 //    .navbar-left,.navbar-right {
 //        float: none !important;
 //    }
 //    .navbar-toggle {
 //        display: block;
 //    }
 //    .navbar-collapse {
 //        border-top: 1px solid transparent;
 //        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
 //    }
 //    .navbar-fixed-top {
 //        top: 0;
 //        border-width: 0 0 1px;
 //    }
 //    .navbar-collapse.collapse {
 //        display: none!important;
 //    }
 //    .navbar-nav {
 //        float: none!important;
 //        margin-top: 7.5px;
 //    }
 //    .navbar-nav>li {
 //        float: none;
 //    }
 //    .navbar-nav>li>a {
 //        padding-top: 10px;
 //        padding-bottom: 10px;
 //        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
 //    }
 //    .collapse.in{
 //        display:block !important;
 //    }

 //    header.head .navbar-default{
 //    	background-color: #fff;
 //    	border-color: #fff;
 //    	padding: 0px 0;
 //    }
 //    .navbar-default .navbar-brand{
 //    	// max-width: 155px;
 //    	padding-top: 12px;
 //    	padding-bottom: 12px;
 //    	padding-left: 15px;
 //    }
 //    .navbar-default .navbar-brand img{ max-width: 155px; display: inline-block; vertical-align: middle; position: relative; top: -3px; }
 //    .navbar-default .navbar-brand{ font-size: 13px; color: #000; }
 //    .navbar-default .navbar-toggle{
 //    	border-color: transparent;
 //    	border-radius: 0px;
 //    	margin-top: 13px;
 //    }
 //    .navbar-default .navbar-toggle:hover, 
 //    .navbar-default .navbar-toggle:focus {
	//     background-color: rgba(204, 204, 204, 0.2);
	// }
	// .navbar-default .navbar-toggle .icon-bar {
	//     background-color: #000;
	// }
	
	// .navbar-nav.navbar-right:last-child{
	// 	margin-right: 0;
	// }
	// header.head .navbar-nav{}
	// header.head .navbar-nav li{
	// 	border-bottom: 1px solid #ccc;
	// }

	// header.head .navbar-nav li a{
	// 	color: #919191;
	// 	font-size: 14px;
	// 	font-weight: 500;
	// 	text-decoration: none;
	// 	text-transform: uppercase;
	// }
	// .navbar-default .navbar-nav > .active > a, 
	// .navbar-default .navbar-nav > .active > a:hover, 
	// .navbar-default .navbar-nav > .active > a:focus {
	//     color: #555;
	//     background-color: rgba(231, 231, 231, 0.15);
	// }
	// header.head .navbar-nav li:hover > .dropdown-menu{
	// 	display: block;
	// }
	// .navbar-nav > li > .dropdown-menu{
	// 	display: none;
	// 	position: relative;
	// 	top: inherit;
	// 	left: inherit;
	// 	right: inherit;
	// 	float: none;
	// 	box-shadow: none;
	// 	border: 0px;
	// 	min-width: inherit;
	// 	border-radius: 0px;
	// }
	// .navbar-nav > li > .dropdown-menu > li{
	// 	border-top: 1px solid #ccc;
	// 	border-bottom: 0;
	// 	padding: 4px 0;
	// }
	// .navbar-nav > li > .dropdown-menu > li > a{
	// 	color: #919191;
	// 	font-size: 13px;
	// 	font-weight: 500;
	// 	text-decoration: none;
	// 	text-transform: uppercase;
	// }
	// header.head .navbar-collapse{
	// 	max-height: inherit;
	// }

}

@media (max-width: 979px) {
	


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {

	}

	#sidebar{
		display: none;
	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
	}
	footer [class*="col-md"]{
		text-align: center;
	}
	.navbar-nav > li{
		float: none;
	}

	#sidebar{
		display: none;
	}

	section.tops_head{
		padding: 0.5em 1.2em 1.1em;
	}
	#content .inners_content{
		padding: 2em 1.2em;
	}
	.dashboard-pg .box-black-widget{
		margin-bottom: 2em;
		display: block;
		height: auto;
		min-height: 300px;
	}
	.bloc-right-logout.text-right{
		text-align: center !important;
		padding-top: 0.6em;
		ul{
			margin-bottom: 0; margin: 0;
			button,a{
				padding: 0px;
			}
		}
	}

	.taglines_hd{
		max-width: 70%;
	}
	.navbar{
		margin-bottom: 0;
	}
	.inns_top_leftTops span{
		bottom: inherit;
	}
	.dataTables_wrapper .dataTables_filter{
		text-align: left;
	}

	.navbar-dark .navbar-nav .nav-link{
		color: rgba(255,255,255, 0.85);
	}

	a.btns_submitn_frmyellow,
	button.btns_submitn_frmyellow{
		min-width: inherit;
		width: auto;
		padding: 0.7rem 2rem;
		font-size: 17px;
		display: block;
		text-align: center;
		margin-top: 1rem;
	}
	.inns_top_leftTops span{
		font-size: 22px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}
.line-divider{
	display: block;
	margin: 1em 0;
	height: 2px;
	background-color: rgba(255,255,255, 0.3);
	width: 100%;
}