@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
// font-family: 'Montserrat', sans-serif;

// Variabel
@images: "../images";
@roboto: 'Roboto', sans-serif;
@playfair: 'Playfair Display', serif;
@color_bluedark_old: #071d2e;
@color_bluedark: #e3c47d; 
@yellow_dark: #ffb400;
@yellow_dark_hover: #E7AA17;


.birthday{
    .row{
        .kirim-pesan{
            a{
                p{
                    position: relative;
                    top: -7px;
                    margin-bottom: 0;
                    font-size: 25px;font-family: @roboto;color: #ffffff;font-weight: 400;
                }
            }
        }
        .card{
            background: transparent;
            .card-header{
                background: #000000;
                border-radius: 0px;
                border: 0px;
                padding: 5px 10px;
                // border-bottom-left-radius: 0px;
                // border-bottom-right-radius: 0px;
                .template{
                    p{
                        margin-bottom: 0;
                        font-size: 20px;color: #ffffff;font-weight: 400;
                        letter-spacing: 1px;
                    }
                }
                .form-check.form-check-inline{
                    padding-top: 15px;
                    label.form-check-label.status {
                        padding-right: 30px;
                    }
                }
            }
            .card-body{
                .content{
                    p{
                        font-size: 15px;color: #252525;
                        padding-left: 50px;
                    }
                }
                background: #ffffff;
            }
        }
        .bawah-card{
            p{
                font-size: 15px;color: #ffffff;
                margin-bottom: 0;
                display: block;
                top: 10px;
                position: relative;
            }
        }
        button{
            background: #ffb400;
            color: #ffffff;
            padding: 10px 40px;
        }
    }
}

