@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
// font-family: 'Montserrat', sans-serif;

// Variabel
@images: "../images";
@roboto: 'Roboto', sans-serif;
@playfair: 'Playfair Display', serif;
@color_bluedark_old: #071d2e;
@color_bluedark: #e3c47d; 
@yellow_dark: #ffb400;
@yellow_dark_hover: #E7AA17;
 
// Font
@header-h3: {
  font-family: @playfair;
  font-size: 37px;
  font-weight: 500;
  color: @yellow_dark;
  margin-bottom: 20px; 
};
@shadows: {
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.31);
};
body{
  background: #202020 url('../images/backs_bodygrey_n.jpg') top center repeat-x;
  font-family: @roboto;
  font-weight: 400;
  color: #fff;
  font-size: 13px;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, p{
  color: #fff; font-weight: 400;
}

.container{
  max-width: 1389px; 
  padding-left: 0; padding-right: 0;
}

@media screen and (min-width: 1650px) {
  .container.width_less{
    max-width: 1745px;
  }
}

.container.width-980{
  max-width: 980px;
}

.line-grey{
  height: 1px;
  background-color: #828282;
}
.short-line-white{
  height: 3px; 
  width: 31px;
  background-color: #fff;
}

.generate-height(50);
.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }
  .margin-@{i} {
    margin: (1px * @i);
  }
  .margin-top-@{i} {
    margin-top: (1px * @i);
  }
  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }
  .margin-left-@{i} {
    margin-left: (1px * @i);
  }
  .margin-right-@{i} {
    margin-right: (1px * @i);
  }
  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }
  .padding-@{i} {
    padding: (1px * @i);
  }
  .padding-top-@{i} {
    padding-top: (1px * @i);
  }
  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }
  .padding-left-@{i} {
    padding-left: (1px * @i);
  }
  .padding-right-@{i} {
    padding-right: (1px * @i);
  }
  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }
  .generate-height(@n, (@i + 1));
}
.clear{
  clear: both;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.content-text2{
  color: #373435;
  font-size: 21px;
  h3{
    font-size: 43px;
    font-weight: 300;
  }
  h4{
    font-size: 35px;
    font-weight: 300;
  }
  h5{
    font-size: 30px;
    font-weight: 300;
  }
  p{
    font-size: 21px;
    line-height: 1.5; font-weight: 300;
    color: #373435;
  }
}
html{
  width: 100%;
  // height: 100%;
}
.container{
  max-width: 1474px;
}
.container2{
  max-width: 1230px;
}

// Font
html,body{
  overflow-x: hidden;
}

section.default_sc{
  display: block;
  margin: 0; padding: 0;
  width: 100%; min-height: inherit; height: auto;
}

// Customs Web Mobil Karawang
body {
    font-family: @roboto;
}

p {
    font-family: @roboto;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 332px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000;
}

#sidebar ul.components {
    padding: 0px 0 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
    background: url('../images/backs_tpn_menu.jpg') top right no-repeat;
}

#sidebar ul li{
  border-bottom: 1px solid #3f3f3f;
  text-align: center;
  a{
    padding: 15px;
    font-size: 1em;
    display: block; text-align: center;
    color: #fff;
  }
  a:focus,
  a:hover{
    color: #f5f5f5;
  }
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: ~"calc(100% - 332px)";
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    .inners_content{
      padding: 2.7rem 3.5rem;
    }
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


section.tops_head{
  background-color: #000;
  padding: 2.65rem 3.5rem;
  .inner{
    .taglines_hd{
      position: relative; top: 3px;
    }
    clear: both;
  }
  clear: both;
}

.blc-copyrights{
  position: absolute; bottom: 0;
  left: 0;
  width: 100%;
    p{
      display: block; text-align: center;
      line-height: 1.4;
      font-size: 0.65em; font-weight: 400; color: #fff;
    }
}

.bloc-right-logout{
  button, a{
    text-transform: uppercase; letter-spacing: 1px;
    font-size: 0.8em; color: #fff;
    text-decoration: none;
  }
  button:hover,
  button:focus,
  a:hover{
    text-decoration: none;
    color: #f3f3f3;
  }
}

.dashboard-pg{
  .box-black-widget{
    background-color: #000;
    width: 100%; 
    min-height: 400px;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    .inner{
      padding: 2rem;

      .icons{
        img{}
        display: block;
        padding-bottom: 1em;
      }
      p{
        font-weight: 500; font-size: 25px; color: #fff; display: block;
        line-height: 1; text-transform: uppercase;
        small{
          font-size: 13px; font-weight: 500; color: #fff;
        }
        margin-bottom: 25px;
      }
      small{
          font-size: 13px; font-weight: 500; color: #fff;
        }
      .btn-default{
        background: none; background-color: transparent;
        box-shadow: none;

        background-color: #3f3f3f; color: #fff; text-transform: uppercase;
        font-size: 1.2em;
        padding: 0.5rem 3.5rem;
        width: 100%;
      }
      .btn-default:focus,
      .btn-default:hover{
        text-decoration: none;
        background-color: #222222; color: #fff;
      }

      .in-form{
        max-width: 292px;
        margin: 0 auto 1.5em;
      }
      clear: both;
    }
  }
  clear: both;
}

.dataTables_wrapper{
  font-size: 75.5%;
  color: #fff;
  .dataTables_filter{
    color: #fff;
    label{
      color: #fff;
    }
  }
  .dataTables_info{
    font-size: 12px; 
    color: #f5f5f5 !important;
    padding-top: 0.5em;
  }
  .dataTables_filter{
    label{
      font-size: 15px; font-weight: 400;
    }
    input{

    }
  }
  .dataTables_length{
    display: none;
  }
  clear: both;
}

table.customs_table.dataTable{
  thead{
    tr{
      th{
        font-size: 12px; font-weight: 500; color: #fff;
      }
    }
  }
  tbody{
    tr{
      background-color: transparent;
      td{
        font-size: 11px; font-weight: 500; color: #000;
      }
    }
    tr{
      background-color: #fff;
    }
    tr:nth-of-type(odd) {
        background-color: #e7e7e7;
    }
  }
  margin-bottom: 0.7rem;
  clear: both;
}

.inns_top_leftTops{
  position: relative; height: 30px;
  span{
    position: relative; bottom: -35px;
    font-size: 25px; font-weight: 500; color: #fff; text-transform: uppercase; 
    line-height: 1;
    display: block;
  }
  small{
    font-size: 13px; font-weight: 500; color: #fff; text-transform: uppercase; letter-spacing: 1px;
  }
  span:before{
    display: inline-block;
    content: "";
    background: url('../images/reload.png') no-repeat;
    width: 30px; height: 30px;
    position: absolute; top: 0px; left: -45px;
  }
}
.content.inners_pglist_car{
  padding-left: 2rem;
  input, textarea,
  .form-control {
      // display: block;
      // width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}


.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; }
.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: #cacaca !important;
}

.insides-pg.inners_page_editing{
  .inners_pglist_car{
    .inns_top_leftTops{
      height: auto;
      span{
        bottom: inherit;
      }
    }


    .box-form-widget{
      // form{
        
        .form-group{
          label > label,
          label{
            text-transform: uppercase;
            font-size: 12px; font-weight: 500; color: #fff;
            // letter-spacing: 0.5px;
          }
          input, textarea,
          .form-control { 
            display: block; width: 100%;
            max-height: 28px;
            font-size: 12px;
          }
          input[type=file]{
            max-height: 38px;
          }
          input.disable_inputs{
            color: #fff;
            background-color: transparent; 
            // padding: 0px; 
            box-shadow: none; border-radius: 0px;
            border: 0px; font-weight: 300;
            max-height: 28px;
            font-size: 12px;
          }
          .form-control:disabled, 
          .form-control[readonly]{
            background-color: #c1c1c1 !important;
          }
          .col-sm-5,
          .col-md-5{
            position: relative;
          }
          margin-bottom: 0.5rem;
          position: relative;
        }

      // }
      clear: both;
    }
  }
  label.custom-control-label{
    font-size: 14px;
  }
  clear: both;
}

a.btns_submitn_frmyellow,
button.btns_submitn_frmyellow{
  background: none; background-color: transparent; box-shadow: none; border: 0px;
  // border-radius: 0px;
  color: #fff; font-size: 22px; font-weight: 700; text-transform: uppercase;
  background-color: #ffb400; letter-spacing: 1px;
  padding: 0.6em 3em;
  min-width: 220px;
}
a.btns_submitn_frmyellow:focus,
a.btns_submitn_frmyellow:hover,
button.btns_submitn_frmyellow:focus,
button.btns_submitn_frmyellow:hover{
  color: #f5f5f5; text-decoration: none;
  background: #DEA00C;
  background-color: #DEA00C;
}

.btn.butns_ingrey{
  padding-left: 2rem; padding-right: 2rem;
  border-radius: 0px;
  font-size: 13px;
}
.lines-white{
  height: 1px; background-color: #fff; width: 100%;
}
.btm_pembelians{
  p{
    color: #fff; font-weight: 500;
    font-size: 13px;
    line-height: 2.2;
    text-transform: uppercase;
    margin-bottom: 0;
    span{
      color: #fff;
      font-size: 16px;
    }
  }
  clear: both;
}

.grid-view{
  table.table.table-striped{
    thead{
      tr > th{
        background-color: #c1920f;
      }
    }
  }
}

.views_image.nchild{
  max-width: 45px;
  clear: both;
}

.btn-customs_deforange,
a.btn-customs_deforange{
  box-shadow: none; border: 0px;
  background: none;

  min-width: 150px;
  font-size: 14px; font-weight: 500; color: #fff; text-transform: uppercase; line-height: 1;
  background-color: #ffb400;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0.5rem;
}
.btn-customs_deforange:focus,
a.btn-customs_deforange:focus,
.btn-customs_deforange:hover,
a.btn-customs_deforange:hover{
  background-color: #ebb637;
  color: #fff;
}
table.customs_table{
  tbody{
    tr{
      background-color: #dbdcdc;
      th,td{
        color: #000;
      }
    }
    tr:nth-of-type(odd) {
        background-color: #ffffff;
        th,td{
        color: #000;
      }
    }
  }
}

ul.gallerys_lisnline{
  display: block; width: 100%;
  li{
    display: inline-block;
    max-width: 100px;
    max-width: 75px;
    margin: 0.3rem 0.2rem;
    img{}
    a.btn.butns_ingrey{
      padding: 0.2em !important; 
    }
  }
}

@import 'rich_styles.less';

@import 'media.styles.less';

@import 'glypicons.less';